<div class="page-header">
    <h1 class="page-title">Главная</h1>
    <p class="page-subtitle">Вы находитесь на сайте, предназначенном для продажи товаров.</p>
</div>
<div class="cards-grid">
    <div class="card">
        <div class="card-header"><h4>Товар 1</h4></div>
        <div class="card-body">
            <h2 class="card-price">$ 100</h2>
            <ul class="card-text"><li>10 users included, 2 GB of storage,</li><li>Email support, Help center access</li></ul>
            <button class="btn-buy">Купить</button>
        </div>
    </div>
    <div class="card">
        <div class="card-header"><h4>Товар 1</h4></div>
        <div class="card-body">
            <h2 class="card-price">$ 100</h2>
            <ul class="card-text"><li>10 users included, 2 GB of storage,</li><li>Email support, Help center access</li></ul>
            <button class="btn-buy">Купить</button>
        </div>
    </div>
    <div class="card">
        <div class="card-header"><h4>Товар 1</h4></div>
        <div class="card-body">
            <h2 class="card-price">$ 100</h2>
            <ul class="card-text"><li>10 users included, 2 GB of storage,</li><li>Email support, Help center access</li></ul>
            <button class="btn-buy">Купить</button>
        </div>
    </div>
</div>
